.grid {
    /* height: 80%; */
    margin: auto 2.5%;

    display: grid;

    grid-template: repeat(3, 1fr) / repeat(4, 1fr);

    grid-template-areas: 
        "presentation jeu1 liste-jeux liste-jeux"
        "presentation jeu2 news jeu3"
        "photo jeu4 jeu5 jeu6";

    /* grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr; */
    gap: 5px;
    background-color: white;
    border: 5px solid white;
}

/* Mobile */
@media screen and (max-width: 1200px) {
    .grid {

        grid-template: repeat(6, 1fr) / repeat(2, 1fr);

        grid-template-areas:
            "presentation jeu1"
            "presentation jeu2"
            "photo jeu4"
            "liste-jeux liste-jeux"
            "news jeu3"
            "jeu5 jeu6";
    }
}

.grid-element {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: green;
    /* border: 3px solid white; */ 
    text-align: center;
}

.grid-element p {
    text-align: justify;
}

.grid-element img {
    display: block;
    /* margin: auto; */
    /* border: 3px solid white;
    border-radius: 20px; */
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}

.presentation {grid-area: presentation;}
.photo {grid-area: photo;}
.liste-jeux {grid-area: liste-jeux;}
.news {grid-area: news;}
.jeu1 {grid-area: jeu1;}
.jeu2 {grid-area: jeu2;}
.jeu3 {grid-area: jeu3;}
.jeu4 {grid-area: jeu4;}
.jeu5 {grid-area: jeu5;}
.jeu6 {grid-area: jeu6;}