div.game-card {
  height: 30rem;
  /* background-image: linear-gradient(-135deg, var(--blue), var(--green), var(--yellow)); */
  border: solid 2px var(--darkBlue);
  border-radius: 7px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 3.5rem 1fr;
  overflow: hidden;
}

div.game-card div {
  background-color: var(--green);
}

div.card-image {
  grid-column: 1;
  grid-row: 1 / span 2;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
}
div.card-image img {
  height: 100%;
}

div.card-title {
  grid-column: 2;
  grid-row: 1;
  /* background-color: green; */
  text-align: center;
  font-size: 1.5rem;
}
div.card-cycle {
  grid-column: 3;
  grid-row: 1;
  /* background-color: blue; */
  
}
div.card-desc {
  grid-column: 2;
  grid-row: 2;
  /* background-color: magenta; */
  font-size: 1.75rem;
  overflow-y: auto;
}
div.card-desc p {
  text-align: justify;
  margin: 0 0.5em;
}

div.card-tags {
  grid-column: 3;
  grid-row: 2;
  /* background-color: cyan; */
  
}