@import url('https://fonts.googleapis.com/css?family=Poppins:200;300;400;500;600;700;800;900&display=swap');

@import "partials/navbar.css";
@import "partials/footer.css";

@import "views/home.css";
@import "views/list.css";
@import "views/resources.css";

@import "media.css";

:root {
    --blueHover: #117DBD;
    --lightBlue: #95D1F5;
    --darkBlue: #1A182D;
    --darkCyan: #40E0D0;
    --darkRed: #B22222;
    --yellow: #F9BB12;
    --astro: #2A233E;
    --green: #00A19A;
    --grey: #EBEBEC;
    --cyan: #00FFFF;
    --blue: #24A1EB;
    --red: #DC143C;
}

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    padding:0;
    margin:0;
}

body {
    background-image: linear-gradient(135deg, var(--yellow), var(--green), var(--blue));
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
}

.container .title {
    text-align: center;
    font-size: 2.75rem;
    margin: 2.5rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blueHover);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--darkBlue);
}