<div class="game-card">

  <!-- <h2>bonjoure je suis <%= jeu.nom %> </h2> -->
  <div class="card-image">
    <img src="/images/<%= jeu.thumbnail %>" alt="">
  </div>
  <div class="card-title">
    <h2><%= jeu.nom %></h2>
  </div>
  <div class="card-desc">
    <p><%= jeu.desc %></p>
  </div>
  <div class="card-cycle">

  </div>
  <div class="card-tags">

  </div>

</div>