<ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="liste.html">Jeux</a></li>
    <li><a href="ressources.html">Ressources</a></li>
</ul>

<a href="http://terra-numerica.org/ateliers/">
    <img id="logo" src="/images/terra_numerica.png" width="200">
</a>