<nav>
    <a href="/"><img class="logo" src="/images/terra_numerica.png" width="200"></a>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/liste">Jeux</a></li>
        <li><a href="/ressources">Ressources</a></li>
    </ul>
</nav>