<nav>
    
    <input type="checkbox" id="check">
    <label for="check" class="checkBtn">
        <i class="fa fa-bars"></i>
    </label>

    <a href="/"><img src="/images/terra_numerica.png" alt="Logo de Terra Numerica" class="logo" width="200"></a>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/liste">Jeux</a></li>
        <li><a href="/ressources">Ressources</a></li>
    </ul>
</nav>