<html lang="fr">

<%- include('../partials/head', { title: "Erreur 404" }) %>

<body>
    
    <%- include('../partials/navbar') %>
    
    <h1>Désolé mais une erreur est survenue..</h1>
    
</body>
</html>