<html lang="fr">

<%- include('../partials/head', { title: "Accueil" }) %>

<body>
    
    <%- include('../partials/navbar') %>
    
    <div class="container">
        
        <h1 class="title">Bienvenue sur le portail de jeux de Terra Numerica</h1>
        
        <p class="description">
            Terra Numerica est un projet d'envergure et fédérateur pour la diffusion de la culture des sciences du numérique. <br>
            Il émane du CNRS, Inria et Université Côte d'Azur.
        </p>
        
        <img class="tripleLogo" src="/images/cnrs-inria-iut.png" alt="Logo CNRS Inria IUT">
        
    </div>
    
    <%- include('../partials/footer') %>
    
</body>
</html>