<html lang="fr">

<%- include('../partials/head', { title: "Accueil" }) %>

<body>
    
    <%- include('../partials/navbar') %>
    
    <div class="home-container">
        
        <h1 class="titleHome">Bienvenue sur le portail de jeux de Terra Numerica</h1>
        
        <p class="descriptionHome">
            Terra Numerica est un projet d'envergure et fédérateur pour la diffusion de la culture des sciences du numérique. <br>
            Il émane du CNRS, Inria et Université Côte d'Azur. <br>
            Terra Numerica développe un dispositif original, attractif et unique de diffusion, de partage, de rencontres, de convivialité entre les acteurs du numérique : chercheurs, enseignants-chercheurs, enseignants, associatifs, médiateurs scientifiques, industriels, étudiants, élèves, grand public et citoyens. <br>
            Ce dispositif comprend un lieu emblématique pour la diffusion de la culture des sciences du numérique, TerraNumerica@Sophia (rampe de lancement vers une Cité du Numérique), différents Espaces Partenaires dans le sud-est de la France, sans oublier toutes les actions hors les murs et les activités en ligne. Les ateliers originaux déployés au sein de ces espaces, permettent de faire de la science en prenant du plaisir, en s’amusant.
        </p>

    </div>
    
    <%- include('../partials/footer') %>

</body>
</html>