<html lang="fr">

<%- include('../partials/head', { title: 'Ressources' }) %>

<body>
    
    <%- include('../partials/navbar') %>
    
    <h1>Ceci est la page des ressources</h1>
    
    <%- include('../partials/footer') %>
    
</body>
</html>