.container {
    text-align: center;
}

.container .description {
    font-size: 1.5rem;
    color: var(--astro);
    padding: 5rem 3rem;
    color: var(--darkBlue);
}

.container .tripleLogo {
    padding-bottom: 3rem;
}