.container .searcher {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 4rem;
}

.container .searcher .search-checkbox {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.hidden {
    display: none;
}

.container .searcher .search-checkbox input[type="checkbox"]+label {
    border: 2px var(--darkBlue);
    color: var(--darkBlue);
    border-style: dashed;
    border-radius: 15px;
    font-size: 1.25rem;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    padding: 0.5rem;
}

.container .searcher .search-checkbox input[type="checkbox"]:checked+label {
    background-color: var(--blue);
    color: var(--darkBlue);
    border-style: solid;
}

.container .searcher .search-input {
    width: 16rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 8px;
    border: solid 2px var(--darkBlue);
}

.container .cards {
    flex-direction: row;
    display: flex;
    margin: 3.5rem;
    gap: 1rem;
}

.container .cards .card {
    background-color: var(--darkBlue);
    justify-content: space-between;
    border: 2px solid white;
    flex-direction: column;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    width: 25%;
}

.container .cards .card img {
    border-radius: 8px;
    object-fit: contain;
    width: 100%;
}

.container .cards .card .cycle, .tags {
    color: whitesmoke;
}

.container .cards .card .name {
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 16px;
    color: white;
    display: flex;
}

.container .cards .card .cycle {
    display: block;
    margin: 0.5rem 0;
}

.container .cards .card .tags {
    margin: 2rem 0;
}

.container .cards .card a {
    margin: 0 auto;
    display: block;
    width: 10rem;
    margin-top: 1.5rem;
}

.container .cards .card button {
    border: 2px solid white;
    background-color: white;
    border-radius: 8px;
    padding: 8px 30px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}